//Global variables

//Colors variables - start 
$primary-color: #000;

//Font variables
$primary-font-family: 'Arial', sans-serif;
$paragraph-font-size: 14px;
$h1-font-size: 40px;
$h2-font-size: 30px;





