//Typography style

body{
  font-size: $paragraph-font-size;
  font-family: $primary-font-family;
}

h1{
  font-family: $h1-font-size;
}

h2{
  font-family: $h2-font-size;
}

p{
  font-size: $paragraph-font-size;
}
